@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@property --hue {
  syntax: "<angle>";
  inherits: true;
  initial-value: 180deg;
}

@keyframes rotateHue {
  0% {
    --hue: 180deg;
  }
  25% {
    --hue: 360deg;
  }
  100% {
    --hue: 180deg;
  }
}



select {
  appearance: none;
  @supports (appearance: base-select) {
    &,
    &::picker(select) {
      appearance: base-select;
      animation: rotateHue 10s infinite;
      animation-play-state: paused;
    }
    &:open {
      animation-play-state: running;
      @media (prefers-reduced-motion) {
        animation-play-state: paused;
      }
    }
  }
}

select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding-block: 10px;
  padding-inline: 20px 30px;
  border-radius: 30px;
  border: 4px solid oklch(54% 0.29 var(--hue));
  cursor: pointer;
  
  @supports (appearance: base-select) {
    padding: 0;
    background-image: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    justify-content: center;
    &::picker-icon {
      display: none;
    }
    &:open::picker-icon {
      rotate: 180deg;
    }
    &::picker(select) {
      padding: 0;
      margin-top: 5px;
      border: 1px solid black;
      background: white;
      border-radius: 12px;
      font-weight: 400;
      transform: translateX(-20%);
      opacity: 0;
      height: 0;
      overflow: clip;
      transition: height 0.5s ease-out, opacity 0.5s ease-out, overlay 0.5s,
        display 0.5s;

      transition-behavior: allow-discrete;
    }
    &:open::picker(select) {
      opacity: 1;
      height: calc-size(auto, size);
      overflow: auto;
      @starting-style {
        opacity: 0;
        height: 0;
      }
    }
    option {
      display: flex;
      align-items: center;
      padding: 10px;
      border-top: 1px solid #444;
      cursor: pointer;
      transition-property: color, background;
      transition-duration: 0.2s;
      transition-timing-function: ease-out;
      img {
        width: 30px;
      }
      &:where(:hover, :focus, :active) {
        background: #ffe6e6;
        color: white;
      }
      &:checked {
        background: oklch(10% 0.49 242);
        color: white;
      }
      &::checkmark {
        display: none;
      }
      &:first-child {
        border: 0;
      }
    }
    selectedcontent {
      line-height: 1;
      img {
        width: 50px;
      }
      span {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }
    }
  }
}



*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;

}