
@property --hue {
  syntax: "<angle>";
  inherits: true;
  initial-value: 180deg;
}

@keyframes rotateHue {
  0% {
    --hue: 180deg;
  }
  25% {
    --hue: 360deg;
  }
  100% {
    --hue: 180deg;
  }
}



select {
  appearance: none;
  @supports (appearance: base-select) {
    &,
    &::picker(select) {
      appearance: base-select;
      animation: rotateHue 10s infinite;
      animation-play-state: paused;
    }
    &:open {
      animation-play-state: running;
      @media (prefers-reduced-motion) {
        animation-play-state: paused;
      }
    }
  }
}

select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: #7ddef5;
  padding-block: 10px;
  padding-inline: 20px 30px;
  border-radius: 30px;
  border: 2px solid oklch(54% 0.29 var(--hue));
  cursor: pointer;
  
  @supports (appearance: base-select) {
    padding: 0;
    background-image: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    justify-content: center;
    &::picker-icon {
      display: none;
    }

    &::picker(select) {
      padding: 0;
      border: 1px solid black;
      background: white;
      border-radius: 12px;
      font-weight: 400;
      opacity: 0;
      height: 0;
      overflow: clip;
      transition: height 0.5s ease-out, opacity 0.5s ease-out, overlay 0.5s,
        display 0.5s;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr) auto;
      transition-behavior: allow-discrete;

      position-area: block-start span-inline-start; /* moves it above and left */
    }

    .grid-item.top {
        grid-column: span 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    &:open::picker(select) {
      opacity: 1;
      height: calc-size(auto, size);
      overflow: auto;
    }

    option {
      display: flex;
      align-items: center;
      padding: 10px;
      cursor: pointer;

      img {
        width: 2em;
        transition: 0.3s ease-in-out;
      }
      img:hover {
        scale: 1.5;
      }
      &:where(:hover, :focus, :active) {
        background: #99dede;
        color: white;
      }
      &:checked {
        background: #b395ff;
        color: white;
      }
      &::checkmark {
        display: none;
      }
    }

    selectedcontent {
      line-height: 1;
      img {
        width: 50px;
      }

      span {
        overflow: hidden;
        position: absolute;
        width: 1px;
      }
    }
  }
}
