/* ============ */
/* TITLE HEADER */
/* ============ */

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: 100 900; /* Geeft het bereik van het gewicht aan */
    font-stretch: 75% 125%; /* Optioneel: breedte aanpassen als het font dit ondersteunt */
    font-style: normal italic; /* Ondersteunt zowel normaal als cursief */
  }

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

header h1 {
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    border-left: 1px solid var(--color-white);
    padding-left: 0.5em;
    margin-left: 0.5em;
    height: 2.2em;
    font-variation-settings: "wght"100;
    animation: animating-titles 3s alternate infinite;
}

@keyframes animating-titles {
    0% {
        font-variation-settings: "wght"100;
    }

    50% {
        color: #d194ed;
    }

    100% {
        font-variation-settings: "wght"900;
        color: #ebd1ff;
    }
}

header img {
    width: 4em;
    aspect-ratio: 1;
    border-radius: 50%;
}
